<center>
<h1>Sign Up</h1>

<%= form_for(@user) do |f| %>
	<%= f.label :name %>
	<br>
	<%= f.text_field :name %>
	<br>
	<%= f.label :gender %>
	<br>
	<%= f.text_field :gender %>
	<br>
	<%= f.label :'Date of Birth' %>
	<br>
	<%= f.date_field :date_of_birth %>
	<br>
	<%= f.label :email %>
	<br>
	<%= f.text_field :email %>
	<br>
	<%= f.label :password %>
	<br>
	<%= f.password_field :password %>
	<br>
	<%= f.label :password_confirmed, "Confirmation" %>


<br>


	<%= f.password_field :password_confirmation %>
	<br> <%= f.submit %>
	 <% end %>
 <h3>
<%= link_to 'Back', users_path %>
</h3>
</center>